.cards{
  width: 160px;
  height: 200px;
  margin: 20px;
  perspective: 600px;
}

.cardInner{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.cardInner.isNotTurned{
  transform: rotateY(-180deg);
}

.cardFace{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
}

.cardFaceBack{
  transform: rotateY(-180deg);
}