@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container{
  display: grid;
  grid-template-areas:
    'header header'
    'main aside';
  background-color: #2196F3;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 85vh;
  border-top: 5px solid black;
  border-right: 5px solid black;
  grid-area: main;
}

.cards{
  width: 160px;
  height: 200px;
  border: 5px solid black;
  margin: 20px;
}

.aside{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
  height: 85vh;
  border-top: 5px solid black;
  grid-area: aside;
}