.link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  background-color: blue;
  border-radius: 25px;
  margin: 20px;
  box-shadow: 1px 1px 5px 1px black;
  cursor: pointer;
}

.gameTitle{
  font-size: 26px;
}