.inputContainer{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 5px;
}

.input{
  width: 80%;
  height: 40px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  outline: none;
}

.input::placeholder{
  color: white;
}

.inputAlert{
  width: 80%;
  height: 40px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
}

.btnShowPassword{
  width: 20%;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  filter: invert(1);
  cursor: pointer;
  outline: none;
}

/* EXTRA SMALL SCREEN */
@media (min-width: 0px) AND (max-width: 480px) {
}

/* SMALL SCREEN */
@media (min-width: 481px) AND (max-width: 768px) {
  .input{
    font-size: 18px;
  }
}

/* MEDIUM SCREEN */
@media (min-width: 769px) AND (max-width: 992px) {
  .input{
    font-size: 18px;
  }
}

/* LARGE SCREEN */
@media (min-width: 993px) AND (max-width: 1200px) {
  .input{
    font-size: 18px;
  }
}

/* EXTRA LARGE SCREEN */
@media (min-width: 1201px) AND (max-width: 1600px) {
  .input{
    font-size: 18px;
  }
}
