.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../public/assets/backgorunds/login-background.jpg');
  background-clip: content-box;
  background-position: center;
}