@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.bg{
  background-image: url('../public/assets/backgorunds/login-background.jpg');
  background-clip: content-box;
  background-position: center;
}

.titleForm {
  font-family: 'Press Start 2P';
  font-size: 4rem;
  color: #1d4ed8;
  text-shadow: 1px 1px white;
  margin: 25px;
}